*{
  background-color: rgb(175, 208, 216);
}

.styled-form{
  
  border: 3px solid rgb(204, 229, 240);
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
  text-align: center;
  width: 600px;
  height: auto;
  margin: 50px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px auto;
}
.styled-form p{
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.styled-form label{
  display: block;
  margin-bottom: 8px;
  color: #555;
}
.styled-form input[type="submit"]{
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.8);
  border-radius: 5px;
}
.styled-form input[type="submit"]:hover{
background-color: #2980b9;
}
.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"],
.styled-form textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border:1px solid #000000;
  box-sizing: border-box;
  font-size: 16px;
  
}

.styled-form input[type="date"]{
width: 25%;
margin-bottom: 15px;
}

h1{
  text-align: center;
}